* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(../image/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: rgba(195, 227, 235, 0.644);
  margin-top: 60px;
}
.main-page {
  width: 330px;
  background-color: white;
  margin: auto;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 4px rgb(198 203 235);
}
.main-page .image img {
  width: 100%;
}
.main-page .content {
  text-align: center;
  font-family: sans-serif;
}
.main-page .content h1 {
  font-size: 24px;
  padding-top: 28px;
}
.main-page .content p {
  font-size: 14px;
  padding-top: 20px;
  width: 80%;
  margin: auto;
}
.main-page .main {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  width: 70%;
  align-items: center;
  margin: auto;
  height: 70px;
  border-radius: 13px;
}
.main-page .main .icon {
  display: flex;
  gap: 16px;
}
.main-page .main .icon img {
  height: 42px;
  width: 42px;
}
.main-page .main .icon .some h3 {
  font-size: 15px;
  font-family: sans-serif;
  align-items: center;
}
.main-page .main .icon .some p {
  font-family: sans-serif;
  padding-top: 4px;
  font-size: 14px;
}
.main-page .main .anker a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.main-page .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main-page .button button {
  background-color: rgb(98 98 199);
  width: 80%;
  border: none;
  height: 36px;
  border-radius: 10px;
  color: aliceblue;
  font-weight: 600;
  box-shadow: 1px 2px 12px 0px rgb(168 176 227);
}
.main-page .ank a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  padding-bottom: 30px;
}
